<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Advent</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h1># Advent</h1>
    <div id="console" v-scope>
      <div id="console-out">
        <p v-for="msg in output" v-bind:class="msg.class">{{ msg.text }}</p>
      </div>
      <input
        id="console-in"
        type="text"
        v-model="input"
        v-on:keydown.enter="processCommand(input)"
      />
    </div>

    <script src="https://unpkg.com/petite-vue"></script>
    <script src="js/script.js"></script>
  </body>
</html>
